name: Build Linux

on:
  push:
    branches: [ "main" ]
    paths:
      - 'client-flutter/**'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./client-flutter

    steps:
    - uses: actions/checkout@v4

    - name: Set up Flutter
      uses: subosito/flutter-action@v2
      with:
        channel: 'stable'

    - name: Install Linux dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y clang cmake ninja-build pkg-config libgtk-3-dev make

    - name: Enable Linux desktop
      run: flutter config --enable-linux-desktop

    - name: Create .env file
      run: echo "${{ secrets.FLUTTER_ENV_FILE }}" > .env

    - name: Install dependencies
      run: flutter pub get

    - name: Build Linux
      run: flutter build linux --release --dart-define-from-file=.env

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: dax-linux
        path: client-flutter/build/linux/x64/release/bundle
