name: Build Windows

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    defaults:
      run:
        working-directory: ./client-flutter

    steps:
    - uses: actions/checkout@v4

    - name: Set up Flutter
      uses: subosito/flutter-action@v2
      with:
        channel: 'stable'

    - name: Enable Windows desktop
      run: flutter config --enable-windows-desktop

    - name: Create .env file
      shell: bash
      run: echo "${{ secrets.FLUTTER_ENV_FILE }}" > .env

    - name: Install dependencies
      run: flutter pub get

    - name: Build Windows
      run: flutter build windows --release

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: dax-windows
        path: client-flutter/build/windows/x64/runner/Release
